:root {
	--pink: #fbe6f4ff;
	--yellow: #fffad1ff;
	--green: #e1f0e5ff;
	--blue: #b5caf9ff;
	--orange: #f5e6db;
	--raisin: #2b283aff;
	--grey: #d4d4d4;
}

body {
	background-color: var(--raisin);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	font-size: 2em;
	margin: 0;
}
.scene {
	position: relative;
	overflow: hidden;
}
.scene.transitioning * {
	opacity: 0;
	transition: opacity 500ms ease-out;
	transition-delay: 1000ms;
}
#stars {
	display: block;
	position: absolute;
	width: 150%;
	height: 150%;
	z-index: -1;
}
.star {
	position: absolute;
	width: var(--size);
	height: var(--size);
	transform-origin: top center;
	transform: rotate(45deg);
	border-radius: 5px;
	background-color: white;
}
.launch .star {
	animation: starAnim 1s ease-in-out;
	margin-left: calc(0px - var(--size) * 20);
	margin-top: calc(var(--size) * 20);
	background: linear-gradient(transparent, white);
}
@keyframes starAnim {
	0% {
		height: var(--size);
		margin-left: 0;
		margin-top: 0;
	}
	30% {
		height: calc(var(--size) * 20);
	}
	100% {
		height: var(--size);
		margin-left: calc(0px - var(--size) * 20);
		margin-top: calc(var(--size) * 20);
	}
}
#rocket {
	font-size: 4rem;
}
.launch #rocket {
	transform: translate(60vw, -60vw);
	display: block;
	transition: all 500ms cubic-bezier(1, -0.01, 1, 0.42);
}
.launch #rocket:before {
	content: '';
	position: absolute;
	display: block;
	width: 20px;
	height: 0px;
	background: linear-gradient(var(--yellow), transparent);
	z-index: -1;
	transform-origin: top center;
	transform: rotate(45deg) translate(2.3rem, 1.4rem);
	animation: fire 1500ms ease-in;
}
.failure #rocket {
	transition: transform 500ms cubic-bezier(0, 2.03, 0.84, 1), opacity 500ms ease-in;
	opacity: 0;
}
@keyframes fire {
	0% {
		height: 0px;
	}
	30% {
		height: 50vw;
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
p {
	margin: 0 0 1em;
}

.countdown-display {
	font-size: 2rem;
	font-family: 'Roboto Mono', monospace;
	padding: 0.35rem 0.8rem 0.5rem 0.8rem;
	border-radius: 0.5rem;
	margin-bottom: 4rem;
}
.countdown-display.trigger {
	font-family: 'Karla', sans-serif;
	border: 1px solid white;
	font-weight: 200;
	cursor: pointer;
	background-color: var(--raisin);
	box-shadow: -3px 3px 0px white;
	transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.countdown-display.trigger:hover {
	box-shadow: -2px 2px 0px white;
	transform: translate(-1px, 1px);
	transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.countdown-display.trigger:active {
	box-shadow: -0px 0px 0px white;
	transform: translate(-3px, 3px);
	transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
